---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- https://css-tricks.com/how-to-load-fonts-in-a-way-that-fights-fout-and-makes-lighthouse-happy/ -->
    <link
      href="https://fonts.googleapis.com/css2?family=Bangers&family=Cutive"
      rel="stylesheet"
    />
    <title>Brendan Beltz: A Doom-Clone Developing Brendan Of All Time</title>
    <script
      defer
      data-domain="brendanbeltz.com"
      src="https://plausible.sunflowersandsky.com/js/script.js"></script>
  </head>
  <body>
    <main>
      <canvas id="raymarcher-display"></canvas>
      <script>
        import wad from "../../components/Raymarcher/demo.wad.js";
        import engine from "../../components/Raymarcher/raymarcher.js";

        document.addEventListener("DOMContentLoaded", () => {
          // Testing out to see how full screen looks. Needs optimization by a factor of 4x

          const DEFAULT_SETTINGS = {
            width: 512, // document.documentElement.clientWidth,
            height: 368, // document.documentElement.clientHeight,
            canvasId: "raymarcher-display",
          };
          const r = engine(wad, DEFAULT_SETTINGS);
        });
      </script>
    </main>
  </body>
</html>

<style>
  html,
  body,
  main {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    background: black;
  }

  main {
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .profile-name {
    display: block;
    color: white;
    font-family: "Bangers", cursive;
    font-size: 10vmax;
    padding: 0 8vw;
    text-align: center;
    text-shadow: 0 0 3px black;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 1))
      drop-shadow(0 0 20px rgba(0, 0, 0, 0.4));
    /* filter: drop-shadow(0 0 10px rgba(0,0,0,1)); */
  }

  #raymarcher-display {
    margin: 0;
    padding: 0;
    height: min(100vmin, 100%);
    max-width: 100%;
    max-height: 100%:
    aspect-ratio: 4 / 3;
  }
</style>
