---
import { PhotoArray } from "../components/PhotoArray/PhotoArray";
import "the-new-css-reset/css/reset.css";

const umbrellaImagePaths =  (await Astro.glob('/public/umbrella/generations/*.jpg')).map(file => file.default)
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Bangers&family=Cutive&display=swap" rel="stylesheet">
		<title>Brendan Beltz: A Web Developing Brendan Of All Time</title>
	</head>
	<body>
		<div class="bfa-container">
			<PhotoArray client:only srcPaths={umbrellaImagePaths} />
		</div>
		<main>
			<div class="profile" id="profile-container">
				<div class="nav-container"></div>
				<h1 class="profile-name">Brendan Beltz</h1>
				<div class="typewriter-container" id="typewriter-container"></div>
				<script>
					import Typewriter from 'typewriter-effect/dist/core';
					const initTypewriter = () => {
						const loopDelay = 2000, typingSpeed = 60, deleteSpeed = 30;
						const typewriterContainer = document.querySelector('#typewriter-container');
						const typewriter = new Typewriter(typewriterContainer, {
							loop: true,
							delay: typingSpeed,
							cursor: '|',
						});
						const texts = [
							'A Web Developing Brendan of all time.<br/>Mostly harmless.<br/>Occasionally effective.<br/>Always styling!',
							'Putting the fun back in dysfunctional programming.',
							'The future author of Javascript: The Gooey Parts', 
							'You wont catch me not styling, I keep it sassy!',
							'Bringing design and code together, one bugfix ticket at a time.',
							'The type errors aren\'t my fault. I was being coerced.',
							'I knew I was a real programmer when I finally got arrays.',
							'Time is an illusion. Crunchtime doubly so.',
						];
						texts.forEach((text, index) => {
							typewriter
								.typeString(text) // Type the current text
								.pauseFor(2000) // Pause after typing the text
								.deleteAll(deleteSpeed) // Delete the text
								.pauseFor(500) // Pause after erasing the text
								.start();
						});
					}
					const parentElement = document.querySelector('#profile-container');
					parentElement.addEventListener('animationend', initTypewriter)
				</script>
			</div>
		</main>
	</body>
</html>

<style>
	html, body, main {
		height: 100%;
		width: 100%;
	}

	body {
		background: black;
	}

	main {
		background: none;
		display: flex;
		justify-content: center;
		align-items: center;
	}


	.bfa-container {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		/* z-index: -1; */
		overflow: hidden;
	}


	
	/* https://zellwk.com/blog/overcoming-astro-styling-frustrations/ */

	.profile {
		pointer-events: none;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		/* background: radial-gradient( rgba(0, 0, 0, 0.4) 0%, transparent 30%, transparent 100%); */
		background: linear-gradient(transparent,  transparent 30%, rgba(81, 0, 81, 0.4) 40%, rgba(0, 10, 120, 0.4) 60%, transparent 70%, transparent);
		visibility:hidden;
		animation: delayed-logo 1s 10s forwards ease-in;
	}

	@keyframes delayed-logo {
		from {
			visibility: visible;
			opacity: 0;
		}

		to {
			opacity: 1;
			visibility: visible
		}
	}

	.nav-container, .typewriter-container {
		height: 35%;
	}

	.profile-name {
		display: block;
		color: white;
		font-family: 'Bangers', cursive;
		font-size: 10vmax;
		padding: 0 8vw;
		text-align: center;
		text-shadow: 0 0 3px black;
		filter: drop-shadow(0 0 10px rgba(0,0,0,1)) drop-shadow(0 0 20px rgba(0,0,0,.4));
		/* filter: drop-shadow(0 0 10px rgba(0,0,0,1)); */
	}

	.typewriter-container {
		display: block;
		color: white;
		font-family: 'Cutive', serif;
		font-size: 3vmax;
		text-shadow: 0 0 2px black;
		text-align: center;
		padding: 0 10vw;
		filter: drop-shadow(0 0 5px rgba(0,10,120,0.8));
	}

</style>
