---
import { PhotoArray } from "../components/PhotoArray/PhotoArray";
import "the-new-css-reset/css/reset.css";
const umbrellaImagePaths =  (await Astro.glob('/public/umbrella/generations/*.jpg')).map(file => file.default)
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
		<title>Brendan Beltz: A Web Developing Brendan Of All Time</title>
	</head>
	<body>
		<div class="bfa-container">
			<PhotoArray client:only srcPaths={umbrellaImagePaths} />
		</div>
		<main>
			<div class="profile">
				<h1 class="profile-name">Brendan Beltz</h1>
			</div>
		</main>
	</body>
</html>

<style>
	html, body, main {
		height: 100%;
		width: 100%;
	}

	body {
		background: black;
	}

	main {
		background: none;
		display: flex;
		justify-content: center;
		align-items: center;
	}


	.bfa-container {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		/* z-index: -1; */
		overflow: hidden;
	}


	
	/* https://zellwk.com/blog/overcoming-astro-styling-frustrations/ */

	.profile {
		pointer-events: none;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		/* background: radial-gradient( rgba(0, 0, 0, 0.4) 0%, transparent 30%, transparent 100%); */
		background: linear-gradient(transparent,  transparent 30%, rgba(81, 0, 81, 0.4) 40%, rgba(0, 10, 120, 0.4) 60%, transparent 70%, transparent);
	}

	.profile-name {
		color: white;
		font-family: 'Bangers', cursive;
		font-size: 10vw;
		text-align: center;
		text-shadow: 0 0 3px black;
		filter: drop-shadow(0 0 10px rgba(0,0,0,1)) drop-shadow(0 0 20px rgba(0,0,0,.4));
		/* filter: drop-shadow(0 0 10px rgba(0,0,0,1)); */
	}

</style>
