---
import { getCollection } from "astro:content";
import ProjectCard from "../components/projectCard.astro";

const projects = await getCollection("projects");
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Brendan Beltz: Projects Page</title>
  </head>
  <body>
    <header>
      <h1><span>Brendan Beltz</span> <span>Projects</span></h1>
      <nav>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="projects.html">Projects</a></li>
          <li><a href="resume.html">Resume</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <!-- TODO: Add a series of sections detailing my various past projects.
  
      TITLE
      ---
      1-2 Line description   ||    Various links to the project's source code, live demo, when available
      ---
      1-2 Paragraphs describing the project in detail with interesting technical details
  -->
      {projects.map((project) => <ProjectCard project={project} />)}
    </main>
  </body>
</html>
